*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(184, 182, 180);
}

.navbar{
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 22px 44px rgba(146, 146, 146, 0.377);
}

.navbar h4{
    font-size: 40px;
    font-weight: 400;
    margin-left: 200px;
}

.intro{
    margin-top: 80px;
    margin-left: 220px;
    font-size: 30px;
    opacity: 0.9;
}

input{
    padding: 20px;
    width: 500px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 220px;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 22px 44px rgba(146, 146, 146, 0.26);
}

.info{
    margin-top: 40px;
    margin-left: 220px;
    display: flex;
}

.info h3{
    font-weight: 400;
    font-size: 20px;
}

.dot{
    font-weight: 600;
    font-size: 25px;
    margin-top: -5px;
    margin-left: -1px;
}

#answer{
    font-weight: 600;
    font-size: 25px;
    margin-top: -5px;
    margin-left: 10px;
}